<footer class="footer">
    <div class="footer-information">
      <h1>DEMON</h1>
      <p>
        © Copyright DEMON 2020-2022. All rights reserved. <br>
        This site is made by FragNite
      </p>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="#">Back to Top</a></li>
        <li><a href="https://bit.ly/demonbotop" target="_blank">Invite</a></li>
        <li><a href="https://github.com/Team-Dark-Developers/demon-bot-documentation" target="_blank">Docs</a></li>
        <li><a href="https://github.com/Team-Dark-Developers/demon-bot-documentation/wiki/Privacy-Policy" target="_blank">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>
  