<nav class="nav-bar">
    <div class="nav-bar-img">
      <img src="../src/images/avatar.png" alt="DEMON Logo">
      <h1>DEMON</h1>
    </div>
    <div class="nav-bar-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <div class="nav-bar-links">
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="../pages/invite">INVITE</a></li>
        <li><a href="https://demonbot.vercel.app/support">SUPPORT</a></li>
        <li><a href="../pages/team.html">TEAM</a></li>
      </ul>
    </div>
  </nav>
  